name: First workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps: 
        - name: Welcome
          run: echo "Hello!"

        - name: List files
          run: ls -la

    